<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>

<div class="header">
    <div class="welcome">
        <h1>Welcome, {{ session.username }}</h1>
    </div>
    <div class="logout">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="sidebar">
        <h2>Menu</h2>
        <ul class="options">
            <li {% if active == 'home' %}class="active"{% endif %}><a href="/home">Home</a></li>
            <li {% if active == 'verifylogin' %}class="active"{% endif %}><a href="/verifylogin">Verify Login (new)</a></li>
            <li {% if active == 'upload' %}class="active"{% endif %}><a href="/upload">Verify Login (old)</a></li>
            <li {% if active == 'dropdown1' %}class="active"{% endif %}><a href="/dropdown1">Dropdown 1</a></li>
            <li {% if active == 'dropdown1-1' %}class="active"{% endif %}><a href="/dropdown1-1">Dropdown 1-1</a></li>
            <li {% if active == 'test_run' %}class="active"{% endif %}><a href="/test_run">Test Run</a></li>
            
        </ul>
    </div>
    
    <div class="main-content">
        <h2>Instructions</h2>
        <p>This is the instruction section. You can provide instructions or additional information here.</p>
        
    </div>
</div>

</body>
</html>
